<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogWarningsInAzureTable" value="false"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="Warnings">
        <listeners>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="Console"
            type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
    <switches>
      <add name="Prolixity Level" value="4" />
    </switches>
  </system.diagnostics>
</configuration>
